<!doctype html>
<title>Goodbye</title>
 <h1>Goodbye</h1>
<!-- <h1>Goodbye <%= @name %>. Have a good <%= @time %>!</h1>-->
<!-- <% if @time %>
    <h1>Goodbye <%= @name %>. Have a good <%= @time %>!</h1>
<% else >
    <h1>Goodbye <%= @name %></h1>
<% end %>-->